/*Header content styling starts*/
.header-content {
  margin-top: 15px;
}
.header-content .header {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .header-logo {
  font-family: "Integral CF";
  font-weight: 700;
  color: #3D00B7;
  font-size: 1.5rem;
  margin-right: 1.9rem;
}
.header-content .header-vertical_line {
  height: 50px;
  border-left: 1px solid #F4F4F4;
}
.header-content .header .mobile-menu {
  display: none;
}
.header-content .header .menu {
  background-image: url(../../images/icons/menu.png);
  background-repeat: no-repeat;
}
.header-content .header .close {
  background-image: url(../../images/icons/close.png);
  background-repeat: no-repeat;
}
.header-content .header-links {
  font-family: "DM Sans";
  font-weight: 500;
  display: flex;
  align-items: center;
  list-style: none;
  height: 47px;
  gap: 2.9rem;
  flex-grow: 2;
}
.header-content .header-links .link-item {
  text-decoration: none;
  color: #000000;
}
.header-content .header-form {
  font-family: "DM Sans";
  display: flex;
  height: 50px;
  gap: 20px;
  flex-grow: 2;
}
.header-content .header-form .search-container {
  flex-grow: 3;
}
.header-content .header-form .search-container .text-search {
  font-weight: 500;
  width: 90%;
  height: 100%;
  padding-left: 30px;
  border-radius: 100px;
  border: 2px solid #EFEFEF;
}
.header-content .header-form .search-container .button-search {
  width: 24px;
  height: 24px;
  display: inline;
  position: absolute;
  transform: translate(-38px, 12px);
  padding: 0;
  background-color: #ffffff;
  background-image: url(../../images/icons/magnifier.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.header-content .header-form .input-upload {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  background-color: #3D00B7;
  padding: 18px 40px;
  color: #ffffff;
  border: none;
  border-radius: 60px;
}
.header-content .header-form .input-upload:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.5);
}
.header-content .header-form .input-connect {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 18px 22px;
  color: #3D00B7;
  border: 2px solid #3D00B7;
  border-radius: 60px;
  transition: 0.1s background-color ease-out;
}
.header-content .header-form .input-connect:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.3);
}
.header-content .header-form .input-connect:active {
  background-color: #3D00B7;
  color: #ffffff;
}
.header-content .hidden {
  height: 0;
}
.header-content .header-mobile {
  width: 85%;
  margin: 0 auto;
  transition: left 0.5s;
  position: relative;
  left: -100%;
}
.header-content .header-mobile .header-links_mobile {
  font-family: "DM Sans";
  font-weight: 500;
  display: flex;
  align-items: center;
  list-style: none;
  height: 47px;
  gap: 2.9rem;
  flex-grow: 2;
}
.header-content .header-mobile .header-links_mobile .link-item {
  text-decoration: none;
  color: #000000;
}
.header-content .header-mobile .header-form_mobile {
  font-family: "DM Sans";
  display: flex;
  height: 50px;
  gap: 20px;
}
.header-content .header-mobile .header-form_mobile .search-container .text-search {
  font-weight: 500;
  width: 90%;
  height: 100%;
  padding-left: 30px;
  border-radius: 100px;
  border: 2px solid #EFEFEF;
}
.header-content .header-mobile .header-form_mobile .search-container .button-search {
  width: 24px;
  height: 24px;
  display: inline;
  position: absolute;
  transform: translate(-38px, 12px);
  padding: 0;
  background-color: #ffffff;
  background-image: url(../../images/icons/magnifier.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.header-content .header-mobile .header-form_mobile .input-upload {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  background-color: #3D00B7;
  padding: 18px 40px;
  color: #ffffff;
  border: none;
  border-radius: 60px;
}
.header-content .header-mobile .header-form_mobile .input-upload:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.5);
}
.header-content .header-mobile .header-form_mobile .input-connect {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 18px 22px;
  color: #3D00B7;
  border: 2px solid #3D00B7;
  border-radius: 60px;
  transition: 0.1s background-color ease-out;
}
.header-content .header-mobile .header-form_mobile .input-connect:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.3);
}
.header-content .header-mobile .header-form_mobile .input-connect:active {
  background-color: #3D00B7;
  color: #ffffff;
}
.header-content_underline {
  border: 1px solid #EFEFEF;
}

/*Header content styling ends*/
/*Hero section styling starts*/
.hero-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 122px;
}
.hero-container .leftSide-desc {
  max-width: 40%;
}
.hero-container .leftSide-desc .desc-heading {
  font-family: "Integral CF";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 64px;
}
.hero-container .leftSide-desc .desc-text {
  max-width: 80%;
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 160%;
  color: #565656;
}
.hero-container .leftSide-desc .exploreNow {
  font-family: "Averta Demo";
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  background-color: #3D00B7;
  padding: 20px 40px;
  color: #ffffff;
  border: none;
  border-radius: 60px;
}
.hero-container .leftSide-desc .exploreNow:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.5);
}
.hero-container .leftSide-desc .statistic-container {
  display: flex;
  gap: 23px;
}
.hero-container .leftSide-desc .statistic-container .statistic-item .item-total {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}
.hero-container .leftSide-desc .statistic-container .statistic-item .item-name {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: #565656;
}
.hero-container .leftSide-desc .leftSide-dot_layer {
  position: absolute;
  transform: translate(-45px, -179px);
  z-index: -1;
}
.hero-container .rightSide-images {
  width: 500px;
  height: 470px;
}
.hero-container .rightSide-images .img-descr {
  width: 340px;
  height: 429px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  transform: translate(91px, -405px);
  z-index: 18;
}
.hero-container .rightSide-images .img-descr .nft-descr {
  position: relative;
  top: 24px;
}
.hero-container .rightSide-images .img-descr .nft-descr .descr-heading {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  color: #ffffff;
  margin-bottom: 0;
}
.hero-container .rightSide-images .img-descr .nft-descr .text {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  color: #ffffff;
  position: relative;
  margin-top: 9px;
}
.hero-container .rightSide-images .img-descr .nft-descr .text::before {
  content: url(../../images/section-3-images/small.png);
  margin-right: 14px;
  position: relative;
  top: 10px;
}
.hero-container .rightSide-images .img-descr .highest-bid {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 0 24px;
  border-radius: 12px;
}
.hero-container .rightSide-images .img-descr .highest-bid .current-bid_heading {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: #ffffff;
  margin-bottom: 7px;
}
.hero-container .rightSide-images .img-descr .highest-bid .current-bid_total {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 7px;
}
.hero-container .rightSide-images .img-descr .highest-bid .current-bid_total::before {
  content: url(../../images/icons/ethereum\ 2.svg);
  position: relative;
  margin-right: 10px;
  top: 5px;
}
.hero-container .rightSide-images .img-descr .highest-bid .bid-timeLeft_heading {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: #ffffff;
  margin-bottom: 7px;
}
.hero-container .rightSide-images .img-descr .highest-bid .bid-timeLeft_time {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 12px;
}
.hero-container .rightSide-images .first-layer {
  position: relative;
  top: 11%;
  left: 12%;
  z-index: 10;
}
.hero-container .rightSide-images .second-layer {
  position: absolute;
  transform: translate(-270px, 77px);
  z-index: 6;
}
.hero-container .rightSide-images .third-layer {
  position: absolute;
  transform: translate(-200px, 103px);
  z-index: 5;
}
.hero-container .rightSide-images .ellipse-layer {
  position: absolute;
  transform: translate(-393px, 269px);
  z-index: 11;
}
.hero-container .rightSide-images .circleText-layer {
  position: absolute;
  transform: translate(-398px, 265px);
  z-index: 12;
}
.hero-container .rightSide-images .etherium-layer {
  position: absolute;
  transform: translate(-348px, 308px) rotate(30deg);
  z-index: 13;
}

/*Hero section styling ends */
/*Amaze section styling starts*/
.amazeNFT {
  padding: 70px 0;
  background-color: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.amazeNFT-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.amazeNFT-container .amaze_heading {
  width: 18%;
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 1.75;
}
.amazeNFT-container .amaze_desc .desc-img {
  position: relative;
  top: 20px;
}
.amazeNFT-container .amaze_desc .desc-heading {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25;
  display: inline-block;
}
.amazeNFT-container .amaze_desc .desc-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875;
  padding-left: 36px;
  line-height: 160%;
  color: #696969;
}
.amazeNFT-container .fast {
  width: 22%;
}
.amazeNFT-container .growth {
  width: 30%;
}

/*Amaze section styling ends*/
/*CollectionOver section starts*/
.collectionOver {
  margin-top: 134px;
  margin-bottom: 151px;
}
.collectionOver-showcase {
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  -moz-column-gap: 52px;
       column-gap: 52px;
  row-gap: 41px;
  grid-template-columns: 400px 360px 360px;
  justify-content: space-between;
}
.collectionOver-showcase .big-row {
  grid-row: 1/4;
}
.collectionOver-showcase .collection-item .item-descr_big {
  display: grid;
  grid-template-columns: 48px 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  margin-top: 32px;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-heading .name {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin: 0;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-heading .quantity {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  color: #363639;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-bid {
  justify-self: end;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-bid .highest-bid {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  margin: 0 0 7px 0;
  color: #3a3a3a;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-bid .value {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
  color: #3a3a3a;
}
.collectionOver-showcase .collection-item .item-descr_big .descr-bid .value::before {
  content: url(../../images/icons/ethereum_1.svg);
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.collectionOver-showcase .collection-item .item-descr_small .name_small {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin: 3px 0 9px 0;
}
.collectionOver-showcase .collection-item .item-descr_small .value_small {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collectionOver-showcase .collection-item .item-descr_small .value_small .avatar-profile {
  -o-object-fit: contain;
     object-fit: contain;
}
.collectionOver-showcase .collection-item .item-descr_small .value_small .price {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  color: #00AC4F;
  border: 1px solid #00AC4F;
  border-radius: 6px;
  padding: 8px;
  position: relative;
  top: -4px;
}
.collectionOver-showcase .collection-item .item-descr_small .value_small .price::before {
  content: url(../../images/icons/ethereum_currency.svg);
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.collectionOver-showcase .collection-item .item-descr_small .value_small .quantity {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  color: #757575;
  margin: 0;
}
.collectionOver-showcase .collection-item .item-descr_small .placeBid {
  font-family: "Averta Demo";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 14px 20px;
  color: #3D00B7;
  border: 2px solid #3D00B7;
  border-radius: 60px;
  transition: 0.1s background-color ease-out;
}
.collectionOver-showcase .collection-item .item-descr_small .placeBid:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.3);
}
.collectionOver-showcase .collection-item .item-descr_small .placeBid:active {
  background-color: #3D00B7;
  color: #ffffff;
}
.collectionOver-showcase .collection-item .item-descr_small .active {
  background-color: #3D00B7;
  color: #ffffff;
}
.collectionOver-showcase .small-row {
  display: flex;
  gap: 20px;
}
.collectionOver-showcase .collections-rating {
  border-collapse: collapse;
  grid-column: 3;
  grid-row: 1/4;
}
.collectionOver-showcase .collections-rating tr td:not(:last-child) {
  padding-right: 22px;
}
.collectionOver-showcase .collections-rating .underscored {
  border-bottom: 1px solid #F0F0F0;
}
.collectionOver-showcase .collections-rating .heading {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  text-align: start;
}
.collectionOver-showcase .collections-rating .heading-subsrc {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  color: #3D00B7;
  padding-left: 5px;
  text-align: start;
}
.collectionOver-showcase .collections-rating .data-place {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
}
.collectionOver-showcase .collections-rating .data-name {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
.collectionOver-showcase .collections-rating .data-valuation {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  color: #636363;
}
.collectionOver-showcase .collections-rating .data-valuation::before {
  content: url(../../images/icons/ethereum_1.svg);
  position: relative;
  top: 5px;
  margin-right: 6px;
}
.collectionOver-showcase .collections-rating .data-rate {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  text-align: end;
}
.collectionOver-showcase .collections-rating .increase {
  color: #14C8B0;
}
.collectionOver-showcase .collections-rating .decrease {
  color: #FF002E;
}

/*CollectionOver section ends*/
/*Discover NFT's content styling starts*/
.discoverNFT {
  background-color: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.discoverNFT-container {
  max-width: 85%;
  margin: 0 auto;
}
.discoverNFT-container .discover-heading {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 2.125rem;
  padding-top: 64px;
}
.discoverNFT-container .discover-filter {
  display: flex;
  gap: 12px;
}
.discoverNFT-container .discover-filter .filter-item {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  background-color: rgba(220, 220, 220, 0.2);
  padding: 10px 20px;
  color: #000000;
  border: none;
  border-radius: 60px;
}
.discoverNFT-container .discover-filter .filter-item:hover {
  box-shadow: 0 0 5px rgba(220, 220, 220, 0.5);
}
.discoverNFT-container .discover-filter .active {
  background-color: #3D00B7;
  color: #ffffff;
}
.discoverNFT-container .discover-filter .allFilters {
  color: #371C87;
  position: relative;
  margin-left: auto;
}
.discoverNFT-container .discover-filter .allFilters::before {
  content: url(../../images/icons/filter.svg);
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.discoverNFT-container .nft-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 2.5rem;
  -moz-column-gap: 39px;
       column-gap: 39px;
  row-gap: 40px;
}
.discoverNFT-container .nft-list .hidden {
  display: none;
}
.discoverNFT-container .nft-list .nft-item {
  max-width: 270px;
  border-radius: 13px;
  background-color: #ffffff;
}
.discoverNFT-container .nft-list .nft-item .item-image {
  padding: 11px 11px 0px 11px;
  width: 100%;
  height: 234px;
}
.discoverNFT-container .nft-list .nft-item .item-image .image {
  border-radius: 14px;
}
.discoverNFT-container .nft-list .nft-item .item-image .bidder {
  width: 30px;
  height: 30px;
  position: absolute;
}
.discoverNFT-container .nft-list .nft-item .item-image .first {
  transform: translate(10px, -20px);
}
.discoverNFT-container .nft-list .nft-item .item-image .second {
  transform: translate(26px, -20px);
}
.discoverNFT-container .nft-list .nft-item .item-image .third {
  transform: translate(45px, -20px);
}
.discoverNFT-container .nft-list .nft-item .item-image .fourth {
  transform: translate(63px, -20px);
}
.discoverNFT-container .nft-list .nft-item .item-nftName {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.23rem;
  margin: 19px 0 11px 23px;
}
.discoverNFT-container .nft-list .nft-item .item-evaluation {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #F4F4F4;
}
.discoverNFT-container .nft-list .nft-item .item-evaluation .nftValue {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.685rem;
  margin: 0;
  position: relative;
  top: -3px;
  color: #00AC4F;
}
.discoverNFT-container .nft-list .nft-item .item-evaluation .nftValue::before {
  content: url(../../images/icons/ethereum_currency.svg);
  position: relative;
  top: 4px;
  padding-right: 5px;
}
.discoverNFT-container .nft-list .nft-item .item-evaluation .nftTotal {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.822rem;
  color: #838383;
  margin: 0;
}
.discoverNFT-container .nft-list .nft-item .item-bet {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
.discoverNFT-container .nft-list .nft-item .item-bet .leftTime {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.685rem;
  background-color: #f5f5f5;
  color: #5539A8;
  border-radius: 16px;
  padding: 4px 11px;
  line-height: 175%;
}
.discoverNFT-container .nft-list .nft-item .item-bet .place_price {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.96rem;
  border: none;
  background-color: #ffffff;
  color: #4F33A3;
}
.discoverNFT-container .showMoreNft {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  background-color: #ffffff;
  padding: 20px 40px;
  color: rgb(61, 0, 183);
  border: 2px solid rgb(61, 0, 183);
  border-radius: 60px;
  transition: 0.1s background-color ease-out;
  margin-top: 55px;
  margin-bottom: 47px;
  position: relative;
  left: 45%;
}
.discoverNFT-container .showMoreNft:hover {
  box-shadow: 0 0 5px rgba(61, 0, 183, 0.3);
}
.discoverNFT-container .showMoreNft:active {
  background-color: rgb(61, 0, 183);
  color: #ffffff;
}

/*Discover NFT's content stying ends*/
/*Footer section starts*/
.footer-nav {
  max-width: 85%;
  margin: 79px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 69px;
  border-bottom: 1px solid #F4F4F4;
}
.footer-nav .nav-marketplaceDesc {
  width: 28%;
}
.footer-nav .nav-marketplaceDesc .desc-heading {
  font-family: "Integral CF";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 27px;
}
.footer-nav .nav-marketplaceDesc .desc-text {
  font-family: "Averta Demo";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 160%;
  color: #3D3D3D;
}
.footer-nav .nav-marketPlace .marketPlace-heading {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
}
.footer-nav .nav-marketPlace li {
  list-style: none;
  line-height: 200%;
}
.footer-nav .nav-marketPlace li .marketPlace-link {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  text-decoration: none;
  color: #3D3D3D;
}
.footer-nav .nav-myAccount .myAccount-heading {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
}
.footer-nav .nav-myAccount li {
  list-style: none;
  line-height: 200%;
}
.footer-nav .nav-myAccount li .myAccount-link {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  text-decoration: none;
  color: #3D3D3D;
}
.footer-nav .nav-subscr {
  width: 364px;
  margin-top: 1rem;
}
.footer-nav .nav-subscr .heading {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
}
.footer-nav .nav-subscr .subscr-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 160%;
  color: #3D3D3D;
}
.footer-nav .nav-subscr .input-content {
  margin-top: 24px;
}
.footer-nav .nav-subscr .input-content .input-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  padding: 22px 195px 22px 23px;
  border: 2px solid #F1F1F1;
  border-radius: 46px;
  position: absolute;
}
.footer-nav .nav-subscr .input-content .input-btn {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  background-color: #2639ED;
  padding: 15px 30px;
  color: #ffffff;
  border: none;
  border-radius: 60px;
  position: relative;
  top: 8px;
  left: 57%;
}
.footer-nav .nav-subscr .input-content .input-btn:hover {
  box-shadow: 0 0 5px rgba(38, 57, 237, 0.5);
}
.footer-copyright {
  font-family: "Averta Demo";
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  text-align: center;
  color: #A4A4A4;
  margin: 15px 0 24px 0;
}

/*Footer section ends*//*# sourceMappingURL=ivan-style.css.map */